In [ ]:
DELETE FROM titanic WHERE Embarked is NULL

UPDATE titanic SET Cabin = '¯\(ツ)/¯' WHERE Cabin is NULL

ALTER TABLE titanic ADD COLUMN FamilyCount REAL;
UPDATE titanic SET FamilyCount = SibSp+1

ALTER TABLE titanic ADD COLUMN isReverend REAL;
UPDATE titanic SET IsReverend = 1 WHERE Name like '%Rev%'
UPDATE titanic SET IsReverend = 0 WHERE isReverend is NULL

ALTER TABLE titanic ADD COLUMN Embarked_C REAL
ALTER TABLE titanic ADD COLUMN Embarked_Q REAL
ALTER TABLE titanic ADD COLUMN Embarked_S REAL
UPDATE titanic SET Embarked_C = 1 WHERE Embarked = 'C'
UPDATE titanic SET Embarked_S = 1 WHERE Embarked = 'S'
UPDATE titanic SET Embarked_Q = 1 WHERE Embarked = 'Q'
UPDATE titanic SET Embarked_C = 0 WHERE Embarked_C is NULL
UPDATE titanic SET Embarked_S = 0 WHERE Embarked_S is NULL
UPDATE titanic SET Embarked_Q = 0 WHERE Embarked_Q is NULL

ALTER TABLE titanic ADD COLUMN M REAL
ALTER TABLE titanic ADD COLUMN F REAL
UPDATE titanic SET M = 1 WHERE Sex = 'male'
UPDATE titanic SET F = 1 WHERE Sex = 'female'
UPDATE titanic SET M = 0 WHERE M is NULL
UPDATE titanic SET F = 0 WHERE F is NULL